.top_bg{
  padding-top: 0px;
  background-color: white;

}

.logo_col{
  margin-right: 60%;
}

.logo{
    display: inline-block;
    cursor: pointer;
    padding-top: 15px ;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    font-size: 20px;
    background: rgb(2, 204, 204);
    color:#eee;
  }
.links li{
  display: inline-block;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-size: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
  .body{
    background-color:rgb(241, 241, 239);
   }

  #summary_box{
    background-color: rgb(250, 250, 250);
    position:relative;
    left: 10%; 
    top:9%;
    margin-right:45%;
    padding-top:.5%;
    padding-right: .5%;
    padding-left: .5%;
    margin-bottom: 0%;
  }

  #summary_top_col{
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 5%;
  }
  #header{
    font-size: 400%;
    color:rgb(2, 204, 204)
  }

  #summary_img{
    width :100%;
    height:60%;
  }

  #img_col{
    margin-bottom: -18%;
    padding-bottom: 0%;

  }

  #summary_box_two{
    background-color: rgb(250, 250, 250);
    position:relative;
    left: 68%; 
    bottom: 52.8%;
    margin-right: 0%;
    padding-left: .5%;
  }
  #viz_col{
    margin-right: -50%;
    padding:0%;
  }